{% extends 'base.html.twig' %}

{% block title %}Configuración de aplicaciones y categorías {{ controller_name }}{% endblock %}

{% block body %}

	<div>
		<div>
			<div>
				<h2>Configuraciones de categorias y aplicaciones</h2>

				{% if appConfigurations is defined %}
                    <div>
                        {% for appConfiguration in appConfigurations %}
                        	

                            <div>
                            <span title="{{ appConfiguration.application.appName }}">{{ appConfiguration.application.appName }}</span>
                             
                            <select id="select-category">

	                          	<option selected disabled hidden >
	                            	{{ appConfiguration.category.categoryName }}
	                        	</option>
	                        	{% for category in categories %}
		                        	<option >
		                            	{{ category.categoryName }}
		                        	</option>
	                        	{% endfor %}
                    		</select>
                    		<select id="select-category">
	                          	<option selected disabled hidden >
	                            	{{ app.user.productivityLevelFor(appConfiguration.category) }}
	                        	</option>
	                        	{% for level in levels %}
		                        	<option >
		                            	{{ level.levelName }}
		                        	</option>
	                        	{% endfor %}
	                        	
                    		</select>
                    		</div>                              
                        {% endfor %}
                    </div>
                {% endif %}
			</div>
		</div>
	</div>

{% endblock %}
