
 {% if app.user.canShowClock() %}
    <div class="navigation-task-container text-black-50">
        <div>
            <span> {{ app.user.clock.getTaskName() }} </span>
            <span> - </span>
            <span> {{ app.user.clock.getPeriodType() }} </span>
            <span> - </span>
            <span> {{ app.user.clock.task.getPomodorosAmmount() }}/{{ app.user.clock.task.getStimatedPomodoros() }} </span>
        </div>
        <div class="d-flex justify-content-around align-items-center">
            <span class="navigation-task-clock" title="Tiempo restante">
            {% if app.user.clock.secondsRemaining() <= 0 %}
                00:00
            {% elseif app.user.clock.isPaused() %}
                En pausa
            {% else %}
                <p id="js-clock"></p>
            {% endif %}
            </span>
             
            <div class="navigation-task-button-container d-flex justify-content-between">
            
           
         
                       
                            
  {% block javascripts %}
    <script>
// Set the date we're counting down to


var inicio= new Date();

seconds=inicio.getSeconds();
tiempo= {{ app.user.clock.secondsRemaining()}};

//tiempo d trabajo 
inicio.setSeconds(seconds+ tiempo );





// Update the count down every 1 second
var x = setInterval(function() {

    // Get todays date and time
   
   var now = new Date().getTime();
    
    // Find the distance between now and the count down date
    var distance = inicio - now;
    
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    // Output the result in an element with id="demo"
    if (minutes < 10){
        minutes = "0"+minutes;
    }
    if (seconds < 10){
        seconds = "0"+seconds;
    }
    document.getElementById("js-clock").innerHTML = 
     minutes + ":" + seconds ;
    
    // If the count down is over, write some text 
    if (minutes==0 && seconds ==0) {
        clearInterval(x);
        var route = "{{ path('store_route', {}) }}";
        alert ("Terminó el periodo de {{ app.user.clock.periodType()}}" );
        window.location.href = route;

    }
}, 1000);
</script>

          
</script>
  {% endblock %}
            
            
            
            
            
            
            
            
            
            
            
            
                {% if app.user.clock.canBePaused() %}
                    <a href="{{ path('pause_task_route', {}) }}" title="Pausar/reanudar tarea">
                        <img src="/build/assets/img/buttons/pause.svg" class="navigation-task-button">
                    </a>
                {% endif %}
                {% if app.user.clock.canBeResumed() %}
                    <a href="{{ path('resume_task_route', {}) }}" title="Pausar/reanudar tarea">
                        <img src="/build/assets/img/buttons/play.svg" class="navigation-task-button">
                    </a>
                {% endif %}

                {% if app.user.clock.canDoNext() %}
                    <a href="{{ path('continue_task_route', {}) }}" title="Iniciar periodo de {{ app.user.clock.getPreviousPeriod()}}">
                        <img src="/build/assets/img/buttons/skip.png" class="navigation-task-button">
                    </a>
                {% endif %}


                <a href="{{ path('finish_task_route', {'id': app.user.clock.task.getId() }) }}" title="Finalizar">
                    <img src="/build/assets/img/buttons/success.png" class="navigation-task-button">
                </a>
                <a href="{{ path('stop_task_route', {'id': app.user.clock.task.getId() }) }}" title="Detener tarea">
                    <img src="/build/assets/img/buttons/stop.png" class="navigation-task-button">
                </a>
            </div>
        </div>
    </div>
{% endif %}