
 {% if app.user.canShowClock() %}
    <div class="navigation-task-container text-black-50">
        <div class="navigation-task-data-container">
            <span class="navigation-task-name navigation-task-data-separator" title="{{ app.user.clock.getTaskName() }}"> {{ app.user.clock.getTaskName() }} </span>
            <span class="navigation-task-data-separator"> - </span>
            <span class="navigation-task-data-separator" title="Tipo de tiempo" > {{ app.user.clock.getPeriodType() }} </span>
            <span class="navigation-task-data-separator"> - </span>
            <span class="navigation-task-data-separator" title="Pomodoros utilizados/estimados"> {{ app.user.clock.task.getPomodorosAmmount() }}/{{ app.user.clock.task.getStimatedPomodoros() }} </span>
        </div>
        <div class="d-flex justify-content-around align-items-center">
            <span class="navigation-task-clock" title="Tiempo restante">
            {% if app.user.clock.secondsRemaining() <= 0 %}
                00:00
            {% elseif app.user.clock.isPaused() %}
                En pausa
            {% else %}
                <span id="js-clock"></span>
            {% endif %}
            </span>
             
            <div class="navigation-task-button-container d-flex justify-content-between">
                            
  {% block javascripts %}
    <script>
        var inicio = new Date();
        seconds = inicio.getSeconds();
        tiempo = {{ app.user.clock.secondsRemaining()}};

        inicio.setSeconds(seconds + tiempo );

        var periodType =    "{{ app.user.clock.periodType()}}";
        var refreshRoute =  "{{ path('store_route', {}) }}";
        var endWorkAlarm =  "{{ app.user.getPomodorosConfiguration().getEndWorkAlarm() }}";
        var endBreakAlarm = "{{ app.user.getPomodorosConfiguration().getEndBreakAlarm() }}";
        var tickAlarm =     "{{ app.user.getPomodorosConfiguration.getClockSound()}}";
         
    </script>
  {% endblock %}
            
            
            
                {% if app.user.clock.canBePaused() %}
                    <a href="{{ path('pause_task_route', {}) }}" title="Pausar tarea">
                        <img src="/build/assets/img/buttons/pause.svg" class="navigation-task-button">
                    </a>
                {% endif %}
                {% if app.user.clock.canBeResumed() %}
                    <a href="{{ path('resume_task_route', {}) }}" title="Iniciar/reanudar tarea">
                        <img src="/build/assets/img/buttons/play.svg" class="navigation-task-button">
                    </a>
                {% endif %}

                {% if app.user.clock.canDoNext() %}
                    <a href="{{ path('continue_task_route', {}) }}" 
                        id="button-next-action"
                        role="button"
                        title="Iniciar período de {{ app.user.clock.getPreviousPeriod()}}"
                        tabindex="0"
                        data-placement="bottom"
                        data-toggle="popover" 
                        data-trigger="focus"
                        data-content="¡Haz click en el botón para continuar!">
                        <img src="/build/assets/img/buttons/skip.png" class="navigation-task-button">
                    </a>
                {% endif %}


                <a href="{{ path('finish_task_route', {'id': app.user.clock.task.getId() }) }}" title="Finalizar tarea">
                    <img src="/build/assets/img/buttons/success.png" class="navigation-task-button">
                </a>
                <a href="{{ path('stop_task_route', {'id': app.user.clock.task.getId() }) }}" title="Detener tarea">
                    <img src="/build/assets/img/buttons/stop.png" class="navigation-task-button">
                </a>
            </div>
        </div>
    </div>
{% endif %}