<!DOCTYPE html>
<html>
<body style="box-sizing:border-box;margin:0;font-family:'Roboto', sans-serif;font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff;height:100%;">
<div class="container email-report-container mt-5"
     style="box-sizing:border-box;width:960px;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;max-width:1280px;margin-top:3rem !important;height:100%;">
    <div class="position-relative pt-3 email-report-box"
         style="box-sizing:border-box;position:relative !important;padding-top:1rem !important;height:auto;width:960px;border-radius:10px;">
        <div class="d-flex justify-content-around align-items-baseline mb-4"
             style="box-sizing:border-box;margin-bottom:1.5rem !important; display: inline-block; padding: 20px 80px;">
            <h2 class="font-weight-light pl-5"
                style="box-sizing:border-box;margin-top:0;margin-bottom:0.5rem;font-family:inherit;font-weight:300 !important;line-height:1.2;color:inherit;font-size:2rem;padding-left:3rem !important;">
                Mi Tiempo y Mis Tomates </h2>
            <h5 class="font-weight-light pl-5"
                style="box-sizing:border-box;margin-top:0;margin-bottom:0.5rem;font-family:inherit;font-weight:300 !important;line-height:1.2;color:inherit;font-size:1.25rem;padding-left:3rem !important;">
                Su reporte de uso personalizado</h5>
        </div>

        <div class="align-items-center email-report-pomodoros-box mt-3 w-100 "
             style="box-sizing:border-box;margin-top:1rem !important;align-items:center !important;height:365px;border-radius:80px;border:2px solid #000000;">
            <div class="justify-content-around w-100 mt-3"
                 style="box-sizing:border-box;display: inline-block;width:100% !important;margin-top:1rem !important; padding: 10px 77px;">
                <div class="align-items-center"
                     style="box-sizing:border-box; display: inline-block; height: 60px;">
                    <div style="box-sizing: border-box;"> Esta semana usted realizó</div>
                    <h1 class="my-0"
                        style="box-sizing:border-box;margin-top:0 !important;margin-bottom:0 !important; margin-left: 60px; font-family:inherit;font-weight:500;line-height:1.2;color:inherit;font-size:2.5rem;">
                        {{ tasksData[0] }} </h1>
                    <div style="box-sizing: border-box;margin-left: 44px;"> Pomodoros</div>
                </div>

                <div class="align-items-center"
                     style="box-sizing:border-box; display: inline-block;  position: absolute; left: 650px;">
                    <div style="box-sizing: border-box;"> Estuviste conectado durante</div>
                    <h1 class="my-0"
                        style="box-sizing:border-box;margin-top:0 !important;margin-bottom:0 !important;font-family:inherit;font-weight:500;line-height:1.2;color:inherit;font-size:2.5rem;">
                        {{ connectedTime }}</h1>
                </div>
            </div>

            <div class="mt-5" style="box-sizing:border-box;width: 240px; margin-top: 40px; margin-left: 310px;">
                <ul class="list-unstyled position-relative"
                    style="box-sizing:border-box;margin-top:0;margin-bottom:1rem;padding-left:0;list-style:none;position:relative !important;">

                    {% for task, key in tasksData[1] %}
                        <li class="position-relative mb-2"
                            style="box-sizing:border-box;position:relative !important;margin-bottom:0.5rem !important;">
                            {{ task }}
                            <div class="email-report-pomodoro-count bg-danger position-absolute"
                                 style="box-sizing:border-box;background-color:#dc3545 !important;position:absolute !important;right:-95px;top:3px;width:35px;height:20px;text-align:center;color:#ffffff;border-radius:5px;">
                                {{ key }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="justify-content-around mt-5"
         style="box-sizing:border-box;display:flex !important;margin-top:3rem !important;justify-content:space-around !important;">
        <div style="box-sizing: border-box; width: 50%;">
            <div class="font-weight-bold mb-3"
                 style="box-sizing:border-box;margin-bottom:1rem !important;font-weight:700 !important;"> La mayor parte
                de su tiempo la utilizó en:
            </div>
            <ul class="list-unstyled position-relative"
                style="box-sizing:border-box;margin-top:0;margin-bottom:1rem;padding-left:0;list-style:none;position:relative !important;">

                {% for category, percentage in categoriesData %}
                    <div style="box-sizing: border-box;">
                        <div class="email-report-category-percentage d-inline-block mr-4 bg-danger"
                             style="box-sizing:border-box;background-color:#dc3545 !important;margin-right:1.5rem !important;display:inline-block !important;right:-95px;top:3px;width:40px;height:22px;text-align:center;color:#ffffff;border-radius:5px;">
                            {{ percentage }}%
                        </div>
                        <li class="position-relative d-inline-block mb-2"
                            style="box-sizing:border-box;position:relative !important;margin-bottom:0.5rem !important;display:inline-block !important;">
                            {{ category }}
                        </li>
                    </div>
                {% endfor %}
            </ul>
        </div>
        <div class="email-report-separator-line"
             style="box-sizing:border-box;height:200px;border:1px solid #00000029;"></div>
        <div style="box-sizing: border-box; width: 65%; padding-left: 14%;">
            <div class="font-weight-bold mb-3"
                 style="box-sizing:border-box;margin-bottom:1rem !important;font-weight:700 !important;"> Aplicaciones
                que m&aacute;s utiliz&oacute;:
            </div>
            <ul class="list-unstyled position-relative"
                style="box-sizing:border-box;margin-top:0;margin-bottom:1rem;padding-left:0;list-style:none;!important;position:relative !important;">

                {% for application, duration in appsData %}
                    <div style="box-sizing: border-box;">
                        <div class="email-report-category-percentage d-inline-block mr-4 bg-danger"
                             style="box-sizing:border-box;background-color:#dc3545 !important;margin-right:1.5rem !important;display:inline-block !important;right:-95px;top:3px;width:100px;height:22px;text-align:center;color:#ffffff;border-radius:5px;">
                            {{ duration }} segs
                        </div>
                        <li class="position-relative d-inline-block mb-2"
                            style="box-sizing:border-box;position:relative !important;margin-bottom:0.5rem !important;display:inline-block !important;">
                            {{ application }}
                        </li>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</body>


