{% extends "base.html.twig" %}

{% block body %}
    <div class="jumbotron">

        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <h1 class="display-5">Instala la aplicación de Mi tiempo y mis tomates para comenzar a registrar automaticamente el uso de aplicaciones</h1>

            <p class="lead">Le ayudamos a mejorar su productividad midiendo el tiempo en que usa cada aplicación o página
                web, además de utilizar la metodología <i>pomodoro</i>.</p>
            <hr class="my-4">
            <p>Para acceder a su cuenta haga <a href="{{ path('login') }}">click aquí</a>, si aún no tiene cuenta, regístrese haciendo <a href="{{ path('user_registration') }}"> click aquí</a>. </p>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h1 class="display-5">¡Bienvenido a Mi Tiempo y Mis Tomates {{ app.user.firstName }} {{ app.user.lastName }}!</h1>

            <p class="lead">Le ayudamos a mejorar su productividad midiendo el tiempo en que usa cada aplicación o página web, además de utilizar la metodología <i>pomodoro</i>.</p>
            <hr class="my-4">
            <p>Para esto le proporcionaremos un programa para su ordenador que medirá el uso.</p>

            <a class="btn btn-primary" href="{{ path('download') }}" role="button">Descarga la aplicación</a>

            <p>Para comenzar a crear tareas, haga click en el botón.</p>
            <p class="lead">
                <a class="btn btn-primary" href="{{ path('my_tasks') }}" role="button">Ver Mis Tareas</a>
            </p>
        {% endif %}

    </div>
{% endblock %}


