<nav class="navbar navbar-expand-lg navbar-light bg-white shadow">
    <div class="container">

        <a class="navbar-brand text-danger" href="{{ path('home') }}">Mi tiempo y mis tomates</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-black-50" href="{{ path('home') }}"> Inicio <span
                                class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-black-50" href="{{ path('download') }}"> Descargas <span
                                class="sr-only"></span></a>
                </li>
            </ul>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% include 'navigation_task/index.html.twig' %}
            {% endif %}

            <ul class="navbar-nav ml-auto">
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item active">
                        <a class="nav-link text-black-50" href="{{ path('login') }}"> Iniciar Sesión <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-black-50" href="{{ path('user_registration') }}"> Registrarse <span
                                    class="sr-only">(current)</span></a>
                    </li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item active">
                        <a class="nav-link text-black-50" href="{{ path('my_tasks') }}"> Mis Tareas <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-black-50" href="{{ path('app_times_report') }}"> Mis Reportes <span class="sr-only">(current)</span></a>
                    </li>
                {% endif %}

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-black-50" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ajustes

                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('pomodoro_configuration') }}">Configurar
                                Pomodoros</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-4">
                        <a class="nav-link dropdown-toggle text-black-50" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ app.user.firstName }} {{ app.user.lastName }}

                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('account_configuration') }}">Mi cuenta</a>
                            <a class="dropdown-item" href="{{ path('logout') }}">Cerrar sesión</a>
                        </div>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>