{% extends 'base.html.twig' %}

{% block title %} Mis Tareas {% endblock %}

{% block body %}
    <div class="container my-tasks-form-container d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="position-relative shadow bg-white border-top col-md-12 my-tasks-box">
                <h2 class="text-center font-weight-light"> Mis Tareas </h2>
                <div class="my-3 my-tasks-filter-bar">
                    {% set state = app.request.attributes.get('state') %}
                    {% set sort = app.request.attributes.get('sort') %}
                    {% set page = app.request.attributes.get('page') %}
                    {#{{ path('my_tasks', {'state':state,'sort':"name"}#}

                    <a href="{{ path('my_tasks') }}" class="my-tasks-filter {% if state == 'all' %} active {% endif %}">Todas</a>
                    <a href="{{ path('my_tasks', {'state':"pending"}) }}"
                       class="my-tasks-filter {% if state == 'pending' %} active {% endif %}">Pendientes</a>
                    <a href="{{ path('my_tasks', {'state':"finished"}) }}"
                       class="my-tasks-filter {% if state == 'finished' %} active {% endif %}">Finalizadas</a>
                    <select id="select-sort" class="custom-select my-tasks-select-sort">
                        <option selected disabled hidden value="order_by"> Ordenar por</option>
                        <option data-sorted-url="{{ path('my_tasks', {'state':state,'sort':"name"}) }}" value="name">
                            Nombre (a-z)
                        </option>
                        <option data-sorted-url="{{ path('my_tasks', {'state':state,'sort':"date"}) }}" value="date">
                            Fecha de creación (más reciente)
                        </option>
                        <option data-sorted-url="{{ path('my_tasks', {'state':state,'sort':"pomodoros"}) }}"
                                value="pomodoros"> Cantidad de pomodoros (mayor cantidad)
                        </option>
                    </select>
                    <a href="{{ path('task_creation') }}">
                        <button type="button" class="btn btn-danger my-tasks-create-task-button">Crear tarea</button>
                    </a>

                </div>
                {% if tasks is defined %}
                    <div class="my-tasks-task-section">
                        {% for task in tasks %}
                            <div class="my-tasks-task-container my-3">
                                <span class="my-tasks-task-name"
                                      title="{{ task.taskName }}">{{ task.taskName }}</span>
                                <span class="my-tasks-pomodoros"
                                      title="Pomodoros usados/estimados"> {{ task.pomodorosAmmount() }}
                                    /{{ task.stimatedPomodoros }} </span>

                                {% if task.taskState.state == "PENDING" %}
                                    <span class="my-tasks-task-state" title="Estado de la tarea"> Pendiente </span>
                                {% endif %}
                                {% if task.taskState.state == "ACTIVE" %}
                                    {% if app.user.clock.isPaused() %}
                                        <span class="my-tasks-task-state" title="Estado de la tarea"> Pausado </span>
                                    {% else %}
                                        <span class="my-tasks-task-state" title="Estado de la tarea"> Activo </span>
                                    {% endif %}
                                {% endif %}

                                {% if task.taskState.state == "FINISHED" %}
                                    <span class="my-tasks-task-state" title="Estado de la tarea"> Finalizado </span>
                                {% endif %}
                                <span title="Fecha de creación"> {{ task.creationDate | date("m/d/Y") }} </span>


                                <div class="my-tasks-action-buttons-container d-flex justify-content-end">
                                    {% if task.taskState.state == "PENDING" %}
                                        {% if app.user.clock is null  %}
                                            <a href="{{ path('start_task_route', {'id': task.id }) }}" title="Iniciar tarea"><img
                                                        src="/build/assets/img/buttons/play.svg"
                                                        class="my-tasks-action-button mr-2"></a>
                                        {% endif %}
                                    {% endif %}
                                    {% if task.taskState.state == "ACTIVE" %}
                                        <a href="{{ path('stop_task_route', {'id': task.id }) }}" title="Detener tarea"><img
                                                    src="/build/assets/img/buttons/stop.png"
                                                    class="my-tasks-action-button mr-2"></a>
                                    {% endif %}
                                    <a href="#" title="Borrar tarea"><img src="/build/assets/img/buttons/trash.png"
                                                                          class="my-tasks-action-button mr-2"></a>
                                </div>
                            </div>
                        {% else %}
                            <div class="my-tasks-empty-message">No hay tareas por aquí.</div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if totalPages > 0 %}
                    <ul class="pagination justify-content-center">
                        <li class="page-item {% if currentPage == 1 %} disabled {% endif %}">
                            <a class="page-link"
                               href="{{ path('my_tasks', {'sort':sort, 'page': currentPage-1, state: state}) }}">Anterior</a>
                        </li>
                        {% for i in 1..totalPages %}
                            <li class="page-item {% if currentPage == i %} active {% endif %}">
                                <a class="page-link"
                                   href="{{ path('my_tasks', {'sort':sort, 'page': i, state: state}) }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                        <li class="page-item  {% if currentPage == totalPages %} disabled {% endif %}">
                            <a class="page-link"
                               href="{{ path('my_tasks', {'sort':sort, 'page': currentPage+1, state: state}) }}">Siguiente</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        document.getElementById("select-sort").onchange = function (e) {
            if (e.target.value !== "order_by") {
                var url = e.target.selectedOptions[0].getAttribute('data-sorted-url');
                localStorage['selected_task_sort'] = document.getElementById("select-sort").value;
                window.location = url;
            }
        };

        window.onload = function () {
            if (localStorage['selected_task_sort'])
                document.getElementById("select-sort").value = localStorage['selected_task_sort'];
        }
    </script>
{% endblock %}
