{% extends 'base.html.twig' %}

{% block title %} Mis Tareas {% endblock %}

{% block body %}
    <div class="container my-tasks-form-container d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="position-relative shadow bg-white border-top col-md-12 my-tasks-box">
                <h2 class="text-center text-primary font-weight-light"> Mis Tareas </h2>
                <div class="my-tasks-filter-bar">
                    {% set state = app.request.attributes.get('state') %}

                    <a href="{{ path('my_tasks') }}" class="my-tasks-filter {% if state == '0' %} active {% endif %}">Todas</a>
                    <a href="{{ path('my_tasks', {'state':"1"}) }}"
                       class="my-tasks-filter {% if state == '1' %} active {% endif %}">Pendientes</a>
                    <a href="{{ path('my_tasks', {'state':"2"}) }}"
                       class="my-tasks-filter {% if state == '2' %} active {% endif %}">Finalizadas</a>
                    <select id="select-sort" class="custom-select my-tasks-select-sort">
                        <option value="{{ path('my_tasks', {'state':state,'sort':"0"}) }}"> Nombre</option>
                        <option value="{{ path('my_tasks', {'sort':"1"}) }}"> Fecha de creación</option>
                        <option value="{{ path('my_tasks', {'sort':"2"}) }}"> Cantidad de pomodoros</option>
                    </select>
                </div>
                {% if tasks is defined %}
                    <ul class="task-container">
                        {% for task in tasks %}
                            <li>{{ task.taskname }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Anterior</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Siguiente</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    <script>
        document.getElementById("select-sort").onchange = function (e) {
            localStorage['selected_task_sort'] = document.getElementById("select-sort").value;
            window.location = e.target.value;
        };

        window.onload = function () {
            if (localStorage['selected_task_sort'])
                document.getElementById("select-sort").value = localStorage['selected_task_sort'];
        }
    </script>
{% endblock %}
