{% extends "base.html.twig" %}

{% block body %}
    <div class="container pomodoro-configuration-form-container d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="position-relative shadow bg-white border-top col-md-10 pt-3 pomodoro-configuration-box">
                <h2 class="text-center text-primary font-weight-light"> Configurar pomodoros </h2>
                {% if not form.vars.valid %}
                    {% for error in form.vars.errors %}
                        <div class="text-danger position-absolute text-center pomodoro-configuration-error-message">{{ error.message }}</div>
                    {% endfor %}
                {% endif %}

                {% if error %}
                    <div class="text-danger position-absolute text-center pomodoro-configuration-error-message">{{ error }}</div>
                {% endif %}
    
                <div class="col-md-12 mx-auto position-relative">
                    {{ form_start(form, {'attr':{
                        'class': 'pomodoro-configuration-form position-relative',
                        'data-parsley-focus': 'first',
                        'data-parsley-validate': 'true'}}) }}
                    <div class="form-group position-relative pomodoro-configuration-form-group">
                        {{ form_label(form.working_time, null, { 'label_attr': {'class': 'font-weight-light d-block'} }) }}
                        {{ form_widget(form.working_time, {'attr': {'class': 'd-inline-block pomodoro-configuration-input'}}) }}
                        
                        <span class="d-inline-block ml-3 font-weight-light text-muted pomodoro-configuration-input-help">
                            {{ form.working_time.vars.help }}
                        </span>
                        <div id="working_time-input-errors"></div>
                    </div>

                    <div class="form-group position-relative pomodoro-configuration-form-group">
                        {{ form_label(form.break_time, null, { 'label_attr': {'class': 'font-weight-light d-block'} }) }}
                        {{ form_widget(form.break_time, {'attr': {'class': 'd-inline-block pomodoro-configuration-input'}}) }}
                        <span class="d-inline-block ml-3 font-weight-light text-muted pomodoro-configuration-input-help">
                            {{ form.break_time.vars.help }}
                        </span>
                        <div id="break_time-input-errors"></div>

                    </div>

                    <div class="form-group position-relative pomodoro-configuration-form-group">
                        {{ form_label(form.long_break_time, null, { 'label_attr': {'class': 'font-weight-light d-block'} }) }}
                        {{ form_widget(form.long_break_time, {'attr': {'class': 'd-inline-block pomodoro-configuration-input'}}) }}
                        <span class="d-inline-block ml-3 font-weight-light text-muted pomodoro-configuration-input-help">
                            {{ form.long_break_time.vars.help }}
                        </span>
                        <div id="break_time-input-errors"></div>

                    </div>

                    <div class="form-group position-relative pomodoro-configuration-form-group font-weight-light ">
                        {{ form_widget(form.clock_sound) }}
                    </div>
                    <div class="form-group position-relative pomodoro-configuration-form-group font-weight-light ">
                        {{ form_widget(form.end_work_alarm) }}
                    </div>
                    <div class="form-group position-relative pomodoro-configuration-form-group font-weight-light ">
                        {{ form_widget(form.end_break_alarm) }}
                    </div>



                    <button type="submit" class="btn btn-primary btn-block mx-auto pomodoro-configuration-submit-btn">Guardar cambios
                    </button>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>

{% endblock %}